.pokemon-image {
  width: 25%;
}

.types-image {
  width: 30%;
}

.pokemon-card {
  display: flex;
  justify-content: space-between;
}

.text-card {
  color: var(--white-color);
}

.type-container {
  display: flex;
  gap: 5px;
}

.image-background {
  width: 200px;
  height: 200px;
  position: absolute;
  right: -50px;
  top: -60px;
  z-index: -2;
  opacity: 0.1;
}

@media (orientation: landscape) {
  :host {
    width: 50%;
  }
  .types-image {
    width: 40%;
  }

  .type-2 {
    display: none;
  }
}

