:root {
  --bug-color: #aed75d;
  --grass-color: #7ec778;
  --dark-color: #7f788e;
  --dragon-color: #45a2f5;
  --poison-color: #c398d9;
  --normal-color: #b3bcbf;
  --fighting-color: #d76888;
  --rock-color: #d6ccad;
  --flying-color: #a9bde5;
  --ground-color: #e7a888;
  --fairy-color: #df9ddb;
  --fire-color: #ffb278;
  --psychic-color: #fc9aa0;
  --ghost-color: #7b8dc0;
  --physical-color: #f29572;
  --special-color: #4780d7;
  --ice-color: #a5e0d7;
  --status-color: #b5b5b5;
  --electric-color: #f8e591;
  --steel-color: #9dbcc8;
  --water-color: #7faee1;
  --white-color: #ffffff;
  --black-color: #161616;
  --primary-color: #1a6ac5;
  --orange-color: #ff912f;
  --background-color: #edf2fa;
}
