.ngx-pagination {
  padding-left: 0 !important;
  margin-top: 0 !important
}

.ngx-pagination .current {
  border-radius: 25%;
  background-color: var(--black-color) !important;
}

.position-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  color: var(--white-color);
}

.ft-1 {
  font-size: 1.3rem;
}

.ft-08 {
  font-size: 0.8rem;
}

.tabs-none {
  display: none;
}

ion-searchbar {
  padding-bottom: 0 !important;
}

ion-list {
  padding-top: 0 !important;
}
