.header-datails {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 240px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.pokemon-image {
  position: absolute;
  width: 90%;
  bottom: -40px;
  animation: slideIn 0.5s forwards;
}

.name-pokemon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--white-color);
  font-size: 1.5rem;
}

.pokemon-infos {
  width: 100%;
  height: 490px;
  padding: 2.5rem 1.5rem 0rem 1.5rem;
}

.weight-and-height {
  display: flex;
  justify-content: space-between;
}

.data {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.data-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  opacity: 0.8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.weight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 2rem;
  opacity: 0.7;
}

.text-weight {
  font-size: 2rem;
  opacity: 0.8;
}

.height {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 2rem;
  opacity: 0.7;
}

.text-height {
  font-size: 2rem;
  opacity: 0.8;
}

@keyframes slideIn {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

@media (orientation: landscape) {
  .pokemon-image {
    position: absolute;
    width: 25%;
    bottom: -50px;
  }

  .header-datails {
    height: 140px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
  }

}
