<ion-content [fullscreen]="true">

  <div class="name-pokemon" style="background-color: var(--{{pokemon.type1}}-color);">
    <strong>{{pokemon.name}}</strong>
    <ion-fab slot="fixed" horizontal="end" vertical="top">
      <ion-fab-button (click)="saveFavorite(pokemon)" size="small" color="dark">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div class="header-datails" style="background-color: var(--{{pokemon.type1}}-color);">
    <img class="pokemon-image" src="../../../assets/images/pokemons/{{pokemon.id}}.png"/>
  </div>

  <div class="pokemon-infos">
    <div class="weight-and-height">
      <div class="weight">
        <span>Weight</span>
        <strong class="text-weight">{{pokemon.weight}}kg</strong>
      </div>
      <div class="height">
        <span>Height</span>
        <strong class="text-height">{{pokemon.height}}m</strong>
      </div>
    </div>

    <div class="data">
      <div class="data-text">
        <span>type one</span>
        <strong>{{pokemon.type1}}</strong>
      </div>
      <div class="data-text" *ngIf="pokemon.type2">
        <span>type two</span>
        <strong>{{pokemon.type2}}</strong>
      </div>
      <div class="data-text" *ngIf="pokemon.hidden_ability">
        <span>abilities</span>
        <strong>{{pokemon.abilities}}</strong>
      </div>
      <div class="data-text" *ngIf="pokemon.hidden_ability">
        <span>hidden ability</span>
        <strong>{{pokemon.hidden_ability}}</strong>
      </div>
      <div class="data-text" *ngFor="let stat of pokemon.stats; let i = index;">
        <span>{{stat.stat.name}}</span>
        <strong>{{stat.base_stat}}</strong>
      </div>
    </div>
  </div>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="navigateToPokemons()" size="small" style="--background: var(--{{pokemon.type1}}-color);">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
